*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
body{
    background-color: #f5f5f5;
}
img{
    max-width: 100%;
}
/* start :: header */
header{
    width:200px;
    margin: 2% auto;
}
/* End :: header */

/* Start :: hederLogo */
.logo{
    width: 250px;
    margin: auto;
}
/* End :: hederLogo */

/* Start :: All-Tabs */
#tabs{
    background-color: #f5f5f5;
    max-width: 42%;
    margin: 0px auto 60px;
    position: relative ;
    padding: 3px 40px;
    border-width: 0;
   
}
.ui-tabs{
    margin-left: 50px;
    margin-right: 15px;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor{
    padding-left: 30px;
}
.ui-tabs .ui-tabs-nav {
    border-width: 0;
    margin-left: 20px;
    background-color: #f5f5f5;
}
.ui-tabs .ui-tabs-nav li{
    width: 133px;
    margin-right: 15px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.ui-tabs .ui-tabs-panel {
    display: block;

    padding: 30px;
    background: #ffffff;
    box-shadow: #808080 0px 0px 4px;
    height: 615px;
}
#nav{
    margin-left: 10px;
}
/* Start :: All-Tabs */

/* Start :: tab-1 */
#tabs-1 p{
    background-color: #ffffff;
    color: #222222;
    line-height: 21px;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 300;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    color: #ffffff;
    background-color: #000000;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid hsl(227, 9%, 71%);
    background: #001c70;
    font-weight: normal;
    color: #ffffff;
}
/* End :: tab-2 */

/* Start :: tab-2 */
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button {
    text-decoration: none;
    color: #ffffff;
}
#ui-id-4, #ui-id-6, #ui-id-8, #ui-id-10{
    background-color: #838db6;
}
.ui-accordion .ui-accordion-content {
    padding: 1em 2.2em;
    border-top: 0;
    overflow: auto;
}

#accordian{
 margin-bottom: 100px;
}

/* End :: tab-2 */

/* Start :: tab-3 */
td>img{
    max-width: 25px;
    border-radius: 50%;
}
table{
    text-align: center;
    width: 100%;
    border-spacing: 0 10px;

}
td{
    text-align: center;
    padding: 5px;
    font-size: 12px;
    font-weight: 100;
}
#tabs-3{
    height: 600px;
    overflow: scroll;
}
tr:nth-child(even){
    background-color: #f2d9f7; 
}
tr:nth-child(odd){
    background-color: #eeeeee; 
}
/* End :: tab-3 */


